.i {
  padding-top: 150px;
}

.chapter4 ul {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}

.chapter4 ul li img {
  width: 509px;
  height: 226px;
  object-fit: cover;
}

.chapter4 .card {
  width: 509px;
  height: 410px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chapter4 .card h3 {
  padding: 1rem 1.5rem;
  font-size: 26px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chapter4 .card p {
  color: var(--color-tx);
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  white-space: wrap;
  padding: 0 1.5rem;
  line-height: 1.5;
}

.chapter4 .card button {
  height: 42px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-mb);
  color: white;
  padding: 1rem;
  display: inline-block;
  line-height: 1px;
  margin: 1rem 0 0 1rem;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
/* .chapter3 .card button:hover{} */

/* footer */

footer {
  position: relative;
  display: flex;
  top: 150px;
}
.footer-line {
  position: absolute;
  /* top: 10px; */
  left: 50%;
  transform: translateX(-50%);
  width: 1140px;
  height: 3px;
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.3);
}
footer p {
  padding-left: 5%;
  font-size: 20px;
  font-weight: bold;
}
footer p,
footer a {
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.3);
}
footer a {
  display: flex;
  position: relative;
  left: 55%;
  padding-left: 2rem;
  font-weight: 400;
}

@media (max-width: 900px) {
  .chapter4 .card {
    width: 300px;
    height: 410px;
  }
  .chapter4 ul {
    padding: 1rem 5rem;
  }
  .footer-line {
    width: 800px;
    height: 3px;
    /* text-align: center; */
    background-color: rgba(0, 0, 0, 0.3);
  }
  footer a {
    left: 40%;
  }
}

@media (max-width: 500px) {
  .footer-line {
    width: 400px;
  }
  footer p {
    font-size: 15px;
  }
  footer a {
    left: 30px;
  }
}

@media (max-width: 500px) {
  .chapter4 ul {
    overflow-x: auto;
  }

  .chapter4 .card h3 {
    font-size: 20px;
  }

  .chapter4 .card {
    top: -10px;
    margin-right: 2rem;
  }
}
